<!DOCTYPE html>
<html ng-app="myApp">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="css/materialize.min.css">
    <script type="text/javascript" src="js/angular.min.js"></script>
  </head>
  <body ng-controller="movieCtrl as movie"><!--referenciamos nuestro controlador con la directiva ng-controller-->
    <div class="container">

      <div class="row">
          <input type="text" ng-model="search" placeholder="Busca el nombre de tu pelicula favorita...">
      </div>


      <div class="row">
        <div class="col s12 m4" ng-repeat="m in movie.collection | filter:search | orderBy:'name' : 0">
          <div class="card">

            <div class="card-image">
              <img src="{{m.img}}">
              <span class="card-title">{{m.name}}</span>
            </div>

            <div class="card-content">
              <p>{{m.anio}} <br> {{m.category}} </p>
              <ul ng-repeat="c in m.cast">
                <li>{{c}}</li>
              </ul>
            </div>

            <div class="card-action">
              <a href="#">Ver pelicula</a>
            </div>

          </div>
        </div>
      </div>

    </div>
  </body>
  <script type="text/javascript" src="js/app.js"></script>
  <script type="text/javascript" src="js/jQuery.js"></script>
  <script type="text/javascript" src="js/materialize.min.js"></script>
</html>
